/* styles.css */

/* Styles généraux */
body, ul {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* En-tête */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Barre de navigation */
nav {
    background-color: #444;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Contenu principal */
main {
    padding: 2rem;
}

/* Pied de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
